/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mai 2018, 13:39:08
    Author     : David
*/

/**
 * Style personnalisé
 */


.ec_container {
	display: flex;
	margin: auto;
        padding-top: 50px;
}
	.ec_subcontainer {
		width: 100%;
	}
	.ec_subcontainer h1 {
		text-align: center;
	}

input[type="text"] {
	border: none;
	border-bottom: 2px solid #C5C5C5;
	transition: all 0.4s ease;
}
input[type="text"]:focus {
	border-bottom: 2px solid #224E76;
}
button {
	padding: 4px 10px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	transition: all 0.4s ease;
}
	button.add {
		border-color: #A4E4FE;
		background-color: #A4E4FE;
	}
	button.add:hover {
		border-color: #224E76;
		background-color: #224E76;
		color: #FFFFFF;
	}
	button.confirm {
		border-color: #A4E4FE;
		background-color: #A4E4FE;
	}
	button.confirm:hover {
		border-color: #224E76;
		background-color: #224E76;
		color: #FFFFFF;
	}

/**
 * Module d'inscription
 */
div#subscription div.subpart {
	margin-bottom: 40px;
}
div#subscription div.subpart_2 {
	margin-bottom: 20px;
}
	div#subscription div.subpart > div.form_group,
	div#subscription div.subpart_2 > div.form_group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		div#subscription div.subpart > div.form_group > input[type="text"],
		div#subscription div.subpart_2 > div.form_group > input[type="text"] {
			margin: 10px 0;
			padding: 5px 0;
			width: 40%;
		}
		div#subscription div.subpart > div.form_group > input[type="text"].ec_input_addressLabel,
		div#subscription div.subpart > div.form_group > input[type="text"].ec_input_placeLabel,
		div#subscription div.subpart_2 > div.form_group > input[type="text"].ec_input_addressLabel,
		div#subscription div.subpart_2 > div.form_group > input[type="text"].ec_input_placeLabel {
			width: 100%;
		}
div.cmd {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 1050px) {
	.ec_container {
		width: 1000px;
	}
}