/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mai 2018, 13:39:08
    Author     : David
*/



/**
 * Module d'inscription
 */
div#subscription div.subpart {
	margin-bottom: 40px;
}
div#subscription div.subpart_2 {
	margin-bottom: 20px;
}
	div#subscription div.subpart > div.form_group,
	div#subscription div.subpart_2 > div.form_group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		div#subscription div.subpart > div.form_group > input[type="text"],
		div#subscription div.subpart_2 > div.form_group > input[type="text"] {
			margin: 10px 0;
			padding: 5px 0;
			width: 40%;
		}
		div#subscription div.subpart > div.form_group > input[type="text"].ec_input_addressLabel,
		div#subscription div.subpart > div.form_group > input[type="text"].ec_input_placeLabel,
		div#subscription div.subpart_2 > div.form_group > input[type="text"].ec_input_addressLabel,
		div#subscription div.subpart_2 > div.form_group > input[type="text"].ec_input_placeLabel {
			width: 100%;
		}
div.cmd {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 1050px) {
	.ec_container {
		width: 1000px;
	}
}

.ec_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ec_form .li_grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    width: 48%;
	border-bottom: 1px solid #C5C5C5;
}

.ec_form .li_grp > label {
    width: 145px;
    padding: 7px 0;
    font-size: 14px;
}

.ec_form .li_grp > input {
    border: none;
    font-size: 14px;
}

.ec_form .li_grp > input[type="text"],
.ec_form .li_grp > input[type="email"],
.ec_form .li_grp > input[type="password"] {
    width: calc(100% - 145px);
    padding: 0;
}

.form_address .li_grp_placename,
.form_address .li_grp_address {
    width: 90%;
}

.form_address .li_grp_zip {
    width: 30%;
}
.form_address .li_grp_city {
    width: 45%;
}