<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="title" id="cent"> sdzd</div>
<ul class="product-list-basic">

    
    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>
        <h2><a href="#">Margarita</a></h2>



        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>

    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>

        <h2><a href="#">Paysanne</a></h2>


        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>

    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>

        <h2><a href="#">La Kostas</a></h2>


        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>
    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>
        <h2><a href="#">Margarita</a></h2>



        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>

    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>

        <h2><a href="#">Paysanne</a></h2>


        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>

    <li>

        <a href="#" class="product-photo">
            <img src="img/pizz3.jpg" height="130" />
        </a>

        <h2><a href="#">La Kostas</a></h2>


        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.</p>

        <button type="button" class="btn btn-danger">Ajouter au panier</button>
        <p class="product-price">10€</p>

    </li>
</ul>
