<div class="container">
    <div id="subscription" class="ec_container">
        <div class="ec_subcontainer">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Inscription</h1></div>
                <div class="panel-body">
                    <!-- Identité -->
                    <div class="subpart subpart_identity">
                        <h2>Identité</h2>
                        <div class="form_group">
                            <input class="ec_input ec_input_lastname" type="text" ng-model="inscriptionCtrl.lastName" placeholder="Nom" />
                            <input class="ec_input ec_input_firstname" type="text" ng-model="inscriptionCtrl.firstName" placeholder="Prénom" />
                            <input class="ec_input ec_input_email" type="text" ng-model="inscriptionCtrl.email" placeholder="E-mail" />
                            <input class="ec_input ec_input_phoneNumber" type="text" ng-model="inscriptionCtrl.phoneNumber" placeholder="Numéro de téléphone" />
                        </div>
                    </div>

                    <!-- Adresse de facturation -->
                    <div class="subpart subpart_facturation_address">
                        <h2>Adresse de facturation</h2>
                        <div class="form_group">
                            <input class="ec_input ec_input_addressLabel" type="text" ng-model="inscriptionCtrl.addressLabel" placeholder="Numéro et Rue" />
                            <input class="ec_input ec_input_zip" type="text" ng-model="inscriptionCtrl.codePostal" placeholder="Code Postal" />
                            <input class="ec_input ec_input_city" type="text" ng-model="inscriptionCtrl.city" placeholder="Ville" />
                        </div>
                    </div>

                    <!-- Adresses de livraison 
                    <div class="subpart subpart_shipping_addresses">
                        <h2>Adresses de livraison</h2>
                        <div class="subpart_2 subpart_shipping_address_1">
                            <h3>Adresse n°1</h3>
                            <div class="form_group">
                                <input class="ec_input ec_input_placeLabel" type="text" ng-model="placeLabel" placeholder="Nom du lieu (Exemples: Domicile, Travail)" />
                                <input class="ec_input ec_input_addressLabel" type="text" ng-model="addressLabel" placeholder="Numéro et Rue" />
                                <input class="ec_input ec_input_zip" type="text" ng-model="zip" placeholder="Code Postal" />
                                <input class="ec_input ec_input_city" type="text" ng-model="city" placeholder="Ville" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-info">Ajouter une adresse de livraison</button>

                    </div>
-->
                    <!-- Commandes décisives -->
                    <div class="cmd">
                        <button type="button" class="btn btn-dark">J'ai déjà un compte</button>


                        <button type="button" class="btn btn-primary" ng-click="inscriptionCtrl.printData()">Valider inscription</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>