
<div class="container mb-4" id="cent">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Produit</th>
                                    <th scope="col" class="text-center">Quantité</th>
                                    <th scope="col" class="text-right">Prix</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>Pizza peperoni</td>
                                    <td><input class="form-control" type="number" value="1" /></td>
                                    <td class="text-right">124,90 €</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="material-icons">delete_forever</i> </button> </td>
                                </tr>
                                <tr>
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>Pizza peperoni</td>
                                    <td><input class="form-control" type="text" value="1" /></td>
                                    <td class="text-right">33,90 €</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="material-icons">delete_forever</i> </button> </td>
                                </tr>
                                <tr>
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>Pizza peperoni</td>
                                    <td><input class="form-control" type="text" value="1" /></td>
                                    <td class="text-right">70,00 €</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="material-icons">delete_forever</i> </button> </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total HT</td>
                                    <td class="text-right">255,90 €</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>TVA</td>
                                    <td class="text-right">6,90 €</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Total TTC</strong></td>
                                    <td class="text-right"><strong>346,90 €</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                        <div class="col-sm-12  col-md-3">
                            <button class="btn btn-lg text-uppercase btn-light">Continue Shopping</button>
                        </div>
                        <div class="pull-right"id="valid">
                            <button class="btn btn-lg  btn-success text-uppercase">Checkout</button>
                        </div>
            </div>
        </div>
    </div>
</div>

